.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 3.5s;
  transform: scale(1.08);
}

.right-arrow {
  position: relative;
  bottom: 50%;
  right: -575px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: relative;
  bottom: 50%;
  right: 70px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .right-arrow:hover {
    color: yellow;
  }
  .left-arrow:hover {
    color: yellow;
  }
}

@media screen and (max-width: 750px) {
  .right-arrow {
    position: absolute;
    bottom: 165px;
    right: 10%;
  }

  .left-arrow {
    position: absolute;
    bottom: 165px;
    left: 10%;
  }
}
@media screen and (max-width: 630px) {
  .right-arrow {
    position: absolute;
    bottom: -70px;
    right: 10%;
  }

  .left-arrow {
    position: absolute;
    bottom: -70px;
    left: 10%;
  }
}

@media screen and (max-width: 300px) {
  .right-arrow {
    position: absolute;
    bottom: -65px;
    right: 10%;
  }

  .left-arrow {
    position: absolute;
    bottom: -65px;
    left: 10%;
  }
}
